<meta charset="utf-8" />

<!-- Para titulo de facilitar o entendimento, a estrutura básica
não será usada aqui para dar destaque as tags estudadas.
Devida a estilização da página ser feita pelo CSS, algumas
tags antes usadas no corpo do html ficaram depreciadas. -->


<strong>Serve para dar destaque no texto</strong>
<br /><br />

<em>Serve para dar ênfase no texto</em>
<br /><br />

<ins>Serve para adicionar uma linha sublinhada ao texto</ins>
<br /><br />

<del>Serve para informar texto removido ou depreciado</del>
<br /><br />

TEXTOS<sup>Texto Acima</sup>
<br /><br />

TEXTOS<sub>Texto Abaixo</sub>
<br /><br />

TEXTO<small>Deixa um texto menor em relação aos demais</small>
<br /><br />

<q>Insere uma citação no texto com aspas</q>

<p>Indica um paragrafo</p>

<span>Texto em span para marcações com css</span>

<h1>Exemplo de Titulo usando h1</h1>
<h2>Exemplo de Titulo usando h2</h2>
<h3>Exemplo de Titulo usando h3</h3>
<h4>Exemplo de Titulo usando h4</h4>
<h5>Exemplo de Titulo usando h5</h5>
<h6>Exemplo de Titulo usando h6</h6>
