<meta charset="utf-8" />

<!-- Para titulo de facilitar o entendimento, a estrutura básica
não será usada aqui para dar destaque as tags estudadas.
-->

<!-- links e ancoras -->

<!-- links para paginas dentro do site -->
<a href="page1.html">Primeiro Arquivo</a>
<a href="page2.html">Segundo Arquivo</a>

<!-- link para pagina fora do site -->
<a href="https://google.com" target="_blank">Ir para o Google</a>

<!-- ancoras -->
<a href="#first">Primeira Ancora</a>
<a href="#second">Segunda Ancora</a>

<h1>Textos exemplos para ancoras</h1>

<!-- quebras de linhas para criar espaçamento proposital -->
<p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
<p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>

<h2 id="first">Lorem ipsum</h2>
  <p>
    Dolor sit amet, consectetur adipiscing elit. Aliquam mattis
    neque eget ultricies mattis. Cras sed nibh justo. Curabitur
    auctor congue tortor sit amet rutrum. Etiam porta, urna egestas
    sagittis vulputate, massa urna porttitor lectus, vitae varius quam
    nisl ut massa. Mauris eget hendrerit nibh. Sed tortor velit, elementum
    eu elit vel, consectetur dapibus quam. Sed eu rutrum dolor. Aliquam vel
    magna at risus lacinia scelerisque vitae vitae augue. Nunc fringilla
    posuere turpis, vel semper elit iaculis eget. Integer pretium est sit
    amet ex tempus, in blandit lectus dictum. Nullam non risus sagittis, auctor
    dolor vitae, suscipit ex. Curabitur fringilla vestibulum nunc non iaculis.
  </p>

  <h2 id="second">Ut fermentum luctus</h2>
  <p>
    Enim non hendrerit. Aliquam justo nulla, ultricies sed pretium non,
    tempor at erat. Proin maximus aliquet condimentum. Pellentesque magna tellus,
    tincidunt in auctor in, vehicula at ante. Proin et neque id mi elementum elementum
    ac non libero. Ut euismod maximus neque placerat iaculis. Sed orci quam, luctus vel
    felis ac, sollicitudin maximus purus. Mauris facilisis accumsan lorem in bibendum.
    Nullam sagittis porttitor massa auctor efficitur. Curabitur in imperdiet risus, quis
    tincidunt lacus. Sed iaculis sodales nibh, et mattis sapien rhoncus sed. Nunc quam est,
    congue ut magna sit amet, egestas molestie libero.
  </p>