ul{
    list-style-image: url(https://treinaweb-cursos.s3.amazonaws.com/prod/5/arquivos/seta.gif);
  }


/* podemos ter também as seguintes configurações!
list-style-type: none;
list-style-type: disc;
list-style-type: circle;
list-style-type: square; */