<meta charset="utf-8" />

<!-- Para titulo de facilitar o entendimento, a estrutura básica
não será usada aqui para dar destaque as tags estudadas.
-->

<!-- composição de formularios 
Alguns atributos principais do formulario dentro da tag form:
* autocomplete="on" apos o uso de um campo, possamos ter trechos para autocomplete
* method="..." especifica o metodo que será usada (get ou post)
* action="..." especifica para onde os dados serão enviados
-->

<form>
    <!-- todo conteudo de um formulario vai dentro dessa tag
    a tag p não é obrigatória tendo sido colocada para separar os
    paragrafos apenas para organização do codigo -->

    <p>
        <label>Digite Seu nome</label>
        <input type="text" maxlength="20" required />
    </p>
    <p>
        <label>Digite seu texto</label>
        <textarea cols="30" rows="10"></textarea>
    </p>
    <p>
        <label>Campo para email e para numeros</label>
        <input type="email" />
        <input type="number" />
    </p>
    <p>
        <label>Campos Radio e Checkbox</label>
        <input type="radio" name="sexo"/>Homem
        <input type="radio" name="sexo"/>Mulher
        <input type="checkbox" />Multipla Escolha
        <input type="checkbox" />Multipla Escolha
        <input type="checkbox" />Multipla Escolha
    </p>
    <p>
        <label>Datas, Hora, Range e Cor</label>
        <input type="date" />
        <input type="time" />
        <input type="range" min="0" max="10" />
        <input type="color" />
    </p>
    <p>
        <label>Input para arquivos</label>
        <input type="file" />
    </p>
    <p>
        <label>Botões - Enviar e Resetar</label>
        <input type="submit" value="Enviar" />
        <input type="reset" value="Resetar Formulario">
    </p>
    <p>
        <label>Select com input</label>
        <input list="browsers" name="browser">
        <datalist id="browsers">
            <option value="Internet Explorer">
            <option value="Firefox">
            <option value="Chrome">
            <option value="Opera">
            <option value="Safari">
        </datalist>
    </p>
    <p>
        <fieldset>
            <legend>Cadastro</legend>
            Nome: <input type="text"><br>
            Email: <input type="text"><br>
        </fieldset>
    </p>
</form>

<!-- formularios são um dos recursos mais utilizados em paginas
e aplicações web, sendo de extrema importancia seu entendimento -->
