<meta charset="utf-8" />

<!-- Para titulo de facilitar o entendimento, a estrutura básica
não será usada aqui para dar destaque as tags estudadas.
-->

<!-- multimidias - trabalhando com imagens, audio e video -->
<p>Uma pequena imagem</p>
<p>
    <img src="image.png" />
</p>

<!-- podemos melhorar nossa semantica usando: -->
<p>
    <figure>
        <img src="image.png" />
        <figcaption>Imagem 1 - Logo HTML</figcaption>
    </figure>
</p>

<p>
    <audio controls>
        <source src="sleep.mp3" type="audio/mpeg">
    </audio>
</p>

<p>
    <video width="320" height="240" controls>
        <source src="video.mp4" type="video/mp4">
    </video>
</p>

