/* Unidades de medidas absolutas
normalmente usadas para definir tamanho fixo
as mais comuns são o px e pt  */

.abspx {
    background-color: coral;
    width: 200px;
    /* width define a largura da div */
    padding: 10pt;
    /* padding define um espaçamento no elemento */
}

/* unidades de medidas relativas
são utilizadas para definir tamanhos relativos (variaveis)
as mais comuns são o em e % */

.relpor {
    background-color: bisque;
    width: 70%;
    padding: 2em;
}
