
<!-- tags são usadas para demarcar uma estrutura no html -->
<p>Isso indica um paragrafo</p>

<!-- existem tags que não precisam da tag de fechamento complementar -->
<input type="text" />
<br />

<!-- podemos misturar um texto comum com elementos do html -->
Treina<b>Web</b>

<!-- Para estruturarmos uma pagina html corretamente existem regras que
veremos melhor nas proximas aulas. -->
