/* formatando com cores */

.nome {
    background-color: blue;
}

.alpha {
    background-color: rgba(172, 9, 9, 0.5);
}

.rgb {
    background-color: #3f0235;
}

.hsla {
    background-color: hsla(52, 55%, 26%, 0.705);
}
