/* imports devem sempre ficar no inicio do codigo */
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');

/* usamos o font face para importarmos uma fonte local ou remota */
@font-face {
    font-family: Amaze;
    src: url("AMAZR___.ttf");
}


/* podemos estilizar diretamente o elemento */
p {
    /* usando fonte instalada com o site */
    font-family: Amaze;
    font-size: 20pt;
}

/* ou usarmos classes para nos referenciarmos */
.font1 {
    /* usando fonte nativa do dispositivo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #290101;
    font-size: 2em;
    letter-spacing: 5px;
}

.font2 {
    /* usando a fonte importada da internet */
    font-family: 'Cedarville Cursive', cursive;
    font-size: xx-large;
    font-weight: 700;
}

.font3 {
    font-size: 3em;
    font-stretch: extra-expanded;
    text-align: center;
    text-decoration: underline;
    text-shadow: 5px 5px 10px #290101;
}
