<meta charset="utf-8" />

<!-- Para titulo de facilitar o entendimento, a estrutura básica
não será usada aqui para dar destaque as tags estudadas.
-->

<!-- vamos conhecer as novas tags para estrutura semantica em html5 -->
<p>
    <!-- abbr expande uma sigla para um texto completo -->
    Essa semana a <abbr title="União dos Estudantes Brasileira">UNE</abbr>
    anunciou o fim do FIES.
</p>

<!-- usamos a tag div para criarmos blocos estilizaveis em posições especificas -->
<div>
    <p>
        visualmente, a div não gera nada novo na tela
    </p>
</div>

<!-- a tag address serve para definir informações de contato -->
<p>
    <address>
        Av. Paulista, 1765, Conj 71 e 72 - Bela Vista - São Paulo - SP - 01311-200
    </address>
</p>

<!-- a tag article define o escopo de um artigo. Muito usado em posts de blog -->
<article>
    <h1>Google revela nova inteligência artificial</h1>
    <p>Hoje o Google revelou sobre um projeto em desenvolvimento . . . . .
</article>

<!-- a tag aside define conteudos laterais, ao lado do conteudo principal -->
<p>Hoje o Google revelou sobre um projeto em desenvolvimento . . . . .</p>
<aside>
  Outros posts sobre Google:
  . . .
</aside>

<!-- tag code gera um espaço para exibirmos trechos de codigo no corpo do conteudo -->
<p>
    <code>
        var counter = 0;
    </code>
</p>

<!-- a tag details serve para exibir conteudos recolhidos na pagina. -->
<details>
    <summary>Minha lista</summary>
    <ul>
        <li>item 1</li>
        <li>item 2</li>
    </ul>
</details>

<!-- a tag dfn cria um sistema de definição que auxilia os buscadores por termos -->
<p>
    <dfn>HTML</dfn> 
    significa HyperText Markup Language, e é utilizado para a 
    estruturação de páginas web.
</p>

<!-- footer define o escopo do rodapé para nosso conteudo -->
<footer>©TreinaWeb Tecnologia LTDA</footer>

<!-- header define o escopo de cabeçalho para o documento ou para uma sessão no documento -->
<article>
    <header>
        <h1>Novos cursos na TreinaWeb!</h1>
    </header>
    <p>TreinaWeb anuncia novos cursos este mês . . .
</article>

<!-- a tag main define o escopo prinicipal. Não pode ser tag filha e deve ser unica
pode agrupar as demais tags como article e outras sendo a mae -->
<main>
    <h1>Conteudo principal</h1>
    <p>meu conteudo</p>
</main>

<!-- a tag nav cria o escopo dos links de navegação (menu) -->
<nav>
    <a href="#">Home</a> |
    <a href="#">Serviços</a> |
    <a href="#">Sobre Nós</a>
</nav>

<!-- podemos agrupar nossos escopos usando a tag section  -->
<section>
    <p>isso é uma sessão isolada semanticamente</p>
</section>

<!-- a tag time ajuda os buscadores a localizar conteudo com base em datas e horas -->
<p>
    O evento irá ocorrer em 
    <time datetime="2017-07-07 21:00">
        7 de julho de 2017 às 9 da noite
    </time>.
</p>