@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #161616;
}

.mainHeader {
    position: relative;
}

.videoHeader {
    width: 100%;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #353333;
    z-index: 100;
}

.navList {
    padding: 0;
}

.navItems {
    display: inline-block;
    padding: 20px;
    font-size: 1.3em;
}

.navLink {
    color: #fff;
    text-decoration: none;
}

.navLink:hover {
    color: #0079d0;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
}

/* MAIN */
.mainBody {
    background-image: url('../images/bar_interior.jpg');
    position: relative;
    min-height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* FOOTER */
.mainFooter {
    padding: 30px;
    background-color: #000;
    color: #fff;
}

.containerFooter{
    padding: 20px;
}