.boxel {
    color: #fff;
    background-color: rgb(200, 58, 2);
    width: 300px;
    margin: 10px 20px 30px 40px;
    padding: 15px 30px 45px 60px;
    border: solid 5px #cecece;
    display: block;
    float: right;
}

.caixaex {
    color: rgb(172, 55, 55);
    background-color: rgb(46, 44, 43);
    width: 300px;
    margin: 10px 20px 30px 40px;
    padding: 15px 30px 45px 60px;
    border: solid 5px #131111;
    border-radius: 20px;
    display: block;
    float: left;
    box-shadow: 10px 10px 5px #888888;
}