<meta charset="utf-8" />

<!-- Para titulo de facilitar o entendimento, a estrutura básica
não será usada aqui para dar destaque as tags estudadas.
-->

<!-- tabelas -->
<table>
    <thead>
        <tr>
            <td>item 1</td>
            <td>item 2</td>
            <td>item 3</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>elemento</td>
            <td>elemento</td>
            <td>elemento</td>
        </tr>
        <tr>
            <td>elemento</td>
            <td>elemento</td>
            <td>elemento</td>
        </tr>
    </tbody>
</table>

<!-- barras de progressos -->
<progress value="30" max="100" ></progress>

<meter value="30" max="100" min="0" ></meter>